body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

.text-weight-300 {
    font-weight: 300;
}

.text-size-sm {
    font-size: 0.8em;
}

.text-size-xs {
    font-size: 0.6em;
}

.text-color-dark50 {
    color: rgba(#000,0.5);
}